body {
    overflow: hidden;
}

@media screen and (max-width: 430px) {
#card {
    display: block;
    max-width: 90%;
    max-height: 75%;
    width: 90%;
    height: auto;
    position: absolute;
    -webkit-transition: -webkit-transform 75ms ease-in-out;
    transition: -webkit-transform 75ms ease-in-out;
    -o-transition: transform 75ms ease-in-out;
    transition: transform 75ms ease-in-out;
    transition: transform 75ms ease-in-out, -webkit-transform 75ms ease-in-out;
    border-radius: 10px;
}
}
@media screen and (min-width: 430px) {
#card {
    display: block;
    height: 90%;
    width: auto;
    position: absolute;
    -webkit-transition: -webkit-transform 75ms ease-in-out;
    transition: -webkit-transform 75ms ease-in-out;
    -o-transition: transform 75ms ease-in-out;
    transition: transform 75ms ease-in-out;
    transition: transform 75ms ease-in-out, -webkit-transform 75ms ease-in-out;
    border-radius: 10px;
}
}

.tilt_left {
    -webkit-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
            transform: rotate(-25deg);
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
}

.tilt_right {
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
}

.tiltback {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
}

.header {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    height: 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.logo {
    height: 90%;
}

.footer {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    height: 10%;
    width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
	-webkit-transition-duration: .5s;
	     -o-transition-duration: .5s;
	        transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
         -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    z-index: 0;
    background-color: #FFF;
    vertical-align: middle;
    overflow: hidden;   
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 15px;
    overflow: hidden;
}

.bookimage {
    display: block;
    max-width: 90%;
    max-height: 75%;
    width: auto;
    height: auto;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: translateZ(0);
    -webkit-animation-duration: 1s;
    -webkit-animation-name: pop_image;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateZ(0);
    -webkit-animation-duration: 50ms;
            animation-duration: 50ms;
    animation-name: pop_image;
}

@-webkit-keyframes pop_image {
    0% {transform: scale(0,0);
-ms-transform: scale(0,0); /* IE 9 */
-webkit-transform: scale(0,0); /* Safari and Chrome */
-o-transform: scale(0,0); /* Opera */
-moz-transform: scale(0,0); /* Firefox */}

    100% {transform: scale(1,1);
-ms-transform: scale(1,1); /* IE 9 */
-webkit-transform: scale(1,1); /* Safari and Chrome */
-o-transform: scale(1,1); /* Opera */
-moz-transform: scale(1,1); /* Firefox */}
}

@keyframes pop_image {
    0% {transform: scale(0,0);
    -ms-transform: scale(0,0); /* IE 9 */
    -webkit-transform: scale(0,0); /* Safari and Chrome */
    -o-transform: scale(0,0); /* Opera */
    -moz-transform: scale(0,0); /* Firefox */}
        
    100% {transform: scale(1,1);
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari and Chrome */
    -o-transform: scale(1,1); /* Opera */
    -moz-transform: scale(1,1); /* Firefox */}
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 10%;
}

.author {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin-left: 10%;
}

.infocontainer {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;
}

.buttontoggle {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.toggleimg {
    display: inline-block;
    max-width: 88%;
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.16); 
    -webkit-transition: -webkit-transform 250ms ease-in-out; 
    transition: -webkit-transform 250ms ease-in-out; 
    -o-transition: transform 250ms ease-in-out; 
    transition: transform 250ms ease-in-out; 
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    margin-left: 75%;
}

.biocontainer {
    order: 2;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 100%;
}

.bio {
    height: 100%;
    display: block;
    overflow: scroll;   
}