body {
    overflow: hidden;
}

@media screen and (max-width: 430px) {
#card {
    display: block;
    max-width: 90%;
    max-height: 75%;
    width: 90%;
    height: auto;
    position: absolute;
    transition: transform 75ms ease-in-out;
    border-radius: 10px;
}
}
@media screen and (min-width: 430px) {
#card {
    display: block;
    height: 90%;
    width: auto;
    position: absolute;
    transition: transform 75ms ease-in-out;
    border-radius: 10px;
}
}

.tilt_left {
    transform: rotate(-25deg);
    transform-origin: bottom right;
}

.tilt_right {
    transform: rotate(25deg);
    transform-origin: bottom left;
}

.tiltback {
    transform: rotate(0deg);
}

.header {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    height: 90%;
}

.footer {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    background-color: black;
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
    overflow: hidden;
}

.bookimage {
    display: block;
    max-width: 90%;
    max-height: 75%;
    width: auto;
    height: auto;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: translateZ(0);
    -webkit-animation-duration: 1s;
    -webkit-animation-name: pop_image;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateZ(0);
    animation-duration: 50ms;
    animation-name: pop_image;
}

@-webkit-keyframes pop_image {
    0% {transform: scale(0,0);
-ms-transform: scale(0,0); /* IE 9 */
-webkit-transform: scale(0,0); /* Safari and Chrome */
-o-transform: scale(0,0); /* Opera */
-moz-transform: scale(0,0); /* Firefox */}

    100% {transform: scale(1,1);
-ms-transform: scale(1,1); /* IE 9 */
-webkit-transform: scale(1,1); /* Safari and Chrome */
-o-transform: scale(1,1); /* Opera */
-moz-transform: scale(1,1); /* Firefox */}
}

@keyframes pop_image {
    0% {transform: scale(0,0);
    -ms-transform: scale(0,0); /* IE 9 */
    -webkit-transform: scale(0,0); /* Safari and Chrome */
    -o-transform: scale(0,0); /* Opera */
    -moz-transform: scale(0,0); /* Firefox */}
        
    100% {transform: scale(1,1);
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari and Chrome */
    -o-transform: scale(1,1); /* Opera */
    -moz-transform: scale(1,1); /* Firefox */}
}